---
layout: default
---

<section>
  <h1>{{ page.title }}</h1>
  <audio controls>
    <source src="{{page.episode_url}}.mp3" type="audio/mpeg">
    <source src="{{page.episode_url}}.ogg" type="audio/ogg">
  </audio>
  <p>
    Прямые ссылки на <a href="{{page.episode_url}}.mp3">mp3</a> и <a href="{{page.episode_url}}.ogg">ogg</a>
  </p>

  {{ content }}
</section>

<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
